
/* the body basic style */
body {
    margin: 0px;
    font-family: 'Scope One', sans-serif;
    font-size: 26px;
}

.header {
    background-color: rgb(255, 160, 0);
    color: white;
    height: 96px;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    position: fixed;
}

h1 {
    margin: 0px;
    display: inline;
    font-size: 72px;
}

#plus {
    float:left;
    margin-top: 16px;
    margin-left: 16px;
}

#mar {
    margin-top: 5px;
    font-size: 32px;
    margin-bottom: 15px;
}

#cancel {
    height: 32px;
    width: 32px;
    float: right;
    margin-top: 8px;
}

/* the content styling for every pic you see */

.photo {
    margin: 0px auto;
    max-width: 1000px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.info {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user {
    font-size: 24px;
    margin-left: 20px;
    display: inline;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0px;
    float: right;
    margin-right: 20px;
    background-color: rgb(255, 160, 0);
    color: white;
    width: 60px;
    border: 0px;
    height: 35px;
    font-size: 20px;
}

.locus {
    margin-top: 96px;
}

.likes {
    display: inline;
    float: right;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.width {
    max-width: 100%;
}

/* image to uplad popup  */

.upload {
    position: fixed;
    margin: 0px;
    margin-left: -480px;
    margin-top: 140px;
    width: 430px;
    padding: 20px;
    border: 2px solid rgb(255, 160, 0);
    background-color: white;
}

p {
    margin-bottom: 0px;
}
#name, #geo, #file1 {
    padding: 4px;
    font-size: 18px;
    border: 1px solid rgb(255, 160, 0);
}


button {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0px;
    float: right;
    border: 0px;
    background-color: rgb(255, 160, 0);
    color: white;
    padding:12px;
    border: 2px;
    border-radius: 10px;
    border-style: outset;
    font-size: 20px;
    margin-top: 10px;
}
