body {
  font-family: 'Scope One', sans-serif;
  margin: 0;
 background-position: center;
  background-repeat: no-repeat;
}
.div1{
  position:fixed;
    padding:0;
  margin:0;
  top:0;
  left:0;
    width:100%;
  height:100%;
  z-index:-1;
  background-image: url(pictures/img6.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.button2{
  right: 0;
  margin-left: 80%;
  margin-bottom: 10%; 
  display:block; 
  width:50px;
  height:50px;
  background: url("http://findicons.com/files/icons/2777/sound_and_audio_for_android/64/1_speaker_off.png") no-repeat center;
}
.holder {
    max-width: 880px;
    margin: 0px auto;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255,160, 0);
    border-radius: 50px;
    height: 350px;

}

.company {
    display: inline-block;
    float: left;
    max-width: 500px;
    margin: 0px auto;
    padding: 50px;
}

.login {
    display: inline-block;
    float: right;
    max-width: 400px;
    margin: 0px auto;
    padding: 50px;
    text-align: center;
}

img {
    display: inline;
    width: 373px;
    margin: 0px;
}

h3 {
    font-size: 32px;
}

input {
    margin: 10px;
    width: 240px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}

.button {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}

#login {
    display: none;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#signup {
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#member {
    margin: 0px;
    display: block;
}

#notamember {
    margin: 0px;
    display: none;
}

#alert {
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: .75em;
  max-width: 225px;
  color: red;
}


.pointer {
    cursor: pointer;
}
/*
.g-signin2 {
  margin: auto 37.5%;
}
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

::-moz-placeholder { /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder { /* IE 10+ */
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;
}
