body {
    font-family: 'Scope One', sans-serif;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.div1{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-image: url(pictures/img6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button2{
    right: 0;
    margin-left: 80%;
    margin-bottom: 10%;
    display:block;
    width:50px;
    height:50px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background: url("http://findicons.com/files/icons/2777/sound_and_audio_for_android/64/1_speaker_off.png") no-repeat center;
}

.button2:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.holder {
    max-width: 880px;
    margin: 0px auto;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255,160, 0);
    border-radius: 50px;
    height: 350px;
}

.company {
    display: inline-block;
    float: left;
    width:50%;
    margin: 0px auto;
    padding: 50px;
    box-sizing: border-box;
}

.login {
    display: inline-block;
    float: right;
    width:50%;
    margin: 0px auto;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
}

img {
    display: inline;
    width: 373px;
    margin: 0px;
}

h3 {
    font-size: 32px;
}

input {
    margin: 10px;
    width: 240px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
input:focus {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.button {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}

#login {
    display: none;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#signup {
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor:pointer;
}

#member {
    margin: 0px;
    display: block;
}

#notamember {
    margin: 0px;
    display: none;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #FFA000;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

::-webkit-input-placeholder {
    color: black;
}

::-moz-placeholder {
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

:-moz-placeholder {
    color: black;
}
